a           { color: #008BCE;}
h2          { margin: 0 0 1em; }
body        { font: 0.8em Arial, Helvetica, sans-serif; background: #D7E1F2; color: #ffe; }
nav,
aside       { float: left; width: 110px; padding: 5px; }
aside       { float: right; color: #000; }
header      { font-size: 2.2em; text-align: center; padding: 5px; background: #D71920; }
footer      { clear: both; padding: 5px; background: #D71920; }

#content    { background: #54B948; margin: 0 120px; padding: 10px; }
#container  { width: 500px; margin: 0 auto; background: #FCE600; }